<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/products">Danh sách sản phẩm</a>
<form action="/api/products" method="post">
    <input type="text" name="id">
    <input type="text" name="name">
    <input type="text" name="price">
    <input type="text" name="quantity">
    <input type="text" name="image">
    <select name="popularityID">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <button>Add</button>
</form>
</body>
</html>
